[Desktop Entry]
Name=NeonOS
Comment=Neon POS powered by Neon Service
Exec=/home/neonpos/Documents/Projects/NeonSystems/NeonPOS/dist/linux-unpacked/neon-os
Type=Application